.git
.github
.idea
.vscode

node_modules
vendor

.env
.env.*
!.env.example

storage/logs
storage/framework/cache
storage/framework/sessions
storage/framework/views
storage/database.sqlite

test-results

npm-debug.log
yarn-error.log

/resources/js/actions
/resources/js/routes
/resources/js/wayfinder
